:root {
  --background-color: black;
}

body {
  background-color: var(--background-color);
  color: white;
}
.tex {
  background-image: url("../images/tex-home.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: top;
  text-align: center;
  margin-top: 195px;
}
p,
h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

p {
  font-size: 15px;
}
h1 {
  margin-top: 25px;
  margin-bottom: 25px;
  font-size: 96px;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  margin-bottom: 48px;
}

.btn {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  padding-top: 18px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 18px;
  border-radius: 25px;
  margin-bottom: 405px;
}

.footer {
  margin-top: 100px;
}
